# ğŸ§ª Pandas Wrangle Lab: Clean & Explore a Real Dataset

## ğŸ”¹ LEARNING GOALS:
- Practice loading, cleaning, and exploring real-world data
- Apply column creation, renaming, sorting, and filtering
- Use `.info()`, `.describe()`, and `.query()` fluently

### ğŸ“¥ 1. Load the Dataset

In [ ]:
import pandas as pd
df = pd.read_csv("../../data/students.csv")
df.head()

### ğŸ” 2. Inspect and Audit the Data

In [ ]:
# Basic overview
df.info()

In [ ]:
# Summary stats
df.describe()

### ğŸ§¼ 3. Clean Missing or Invalid Data

In [ ]:
# Check for missing values
df.isnull().sum()

In [ ]:
# Drop rows with missing names
df.dropna(subset=["first_name", "last_name"], inplace=True)

# Fill any missing scores with column average
df["math_score"].fillna(df["math_score"].mean(), inplace=True)
df["science_score"].fillna(df["science_score"].mean(), inplace=True)

### ğŸ§  4. Feature Engineering (New Columns)

In [ ]:
# Add average and grade
df["average_score"] = (df["math_score"] + df["science_score"]) / 2

def grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "D"

df["grade"] = df["average_score"].apply(grade)
df.head()

### ğŸ”½ 5. Sorting and Filtering

In [ ]:
# Top performers
df[df["average_score"] > 90].sort_values(by="average_score", ascending=False).head()

### ğŸ“Š 6. Group and Describe by Grade

In [ ]:
# How many of each grade?
df["grade"].value_counts()

In [ ]:
# Average scores per grade group
df.groupby("grade")[["math_score", "science_score", "average_score"]].mean()

### ğŸ’¾ 7. Save the Cleaned Dataset

In [ ]:
df.to_csv("student_scores_cleaned.csv", index=False)

### ğŸ§  Challenge Task

> Your turn! Filter out students who got a D, sort by last name, and export to a new file:
- Only include columns: `first_name`, `last_name`, `grade`
- Save it as `"d_students.csv"`

### ğŸ“ Summary

This lab gave you hands-on experience with:
- Cleaning nulls and type mismatches
- Creating new columns
- Filtering and sorting real data
- Grouping and summarizing by categorical features

Your data wrangling toolbox is now ready for real-world messiness. ğŸ§¹ğŸ› ï¸